* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

.rubit_main {
	display: inline-block;
}
.rubit_area {
	position: relative;
	overflow: hidden;
	width: 500px;
	height: 500px;
	background: rgba(247, 255, 0, 0.25);
}
.rubit_container {
	position: relative;
	display: inline-block;
}
.rubit_outer {
	position: relative;
	border: 2px solid #83005c;
	background: radial-gradient(#ff009b42 0%, #dd03a6 100%);
	border-radius: 50%;
}
.rubit_inner {
	position: relative;
	border: 2px solid #800000;
	background: radial-gradient(#fdb2b275 0%, #fd0000 100%);
	border-radius: 50%;
}